In [1]:
import os
import pandas as pd
import json
import matplotlib.pyplot as plt

In [20]:
dir_path = os.path.join("datasets", "cnndm")

In [ ]:
# Path to the JSONL file
file_path = os.path.join(dir_path, "model_annotations.aligned.jsonl")

# Read and parse the JSONL file
with open(file_path, "r", encoding="utf-8") as file:
    data = [json.loads(line) for line in file]

# create pandas dataframe
df = pd.DataFrame(data)
df.head()

,id,decoded,expert_annotations,turker_annotations,references,model_id,filepath
0,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson was brought on with only seven min...,"[{'coherence': 2, 'consistency': 1, 'fluency':...","[{'coherence': 3, 'consistency': 3, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...,M11,cnndm/dailymail/stories/8764fb95bfad8ee8492748...
1,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson has restarted his row with andros ...,"[{'coherence': 3, 'consistency': 5, 'fluency':...","[{'coherence': 2, 'consistency': 3, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...,M13,cnndm/dailymail/stories/8764fb95bfad8ee8492748...
2,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson has restarted his row with andros ...,"[{'coherence': 2, 'consistency': 5, 'fluency':...","[{'coherence': 4, 'consistency': 5, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...,M1,cnndm/dailymail/stories/8764fb95bfad8ee8492748...
3,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson has restarted his row with andros ...,"[{'coherence': 2, 'consistency': 5, 'fluency':...","[{'coherence': 5, 'consistency': 5, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...,M14,cnndm/dailymail/stories/8764fb95bfad8ee8492748...
4,dm-test-8764fb95bfad8ee849274873a92fb8d6b400eee2,paul merson has restarted his row with andros ...,"[{'coherence': 4, 'consistency': 5, 'fluency':...","[{'coherence': 2, 'consistency': 4, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...,M15,cnndm/dailymail/stories/8764fb95bfad8ee8492748...

In [5]:
df = df[['model_id', 'filepath', 'decoded', 'expert_annotations', 'turker_annotations', 'references']]
df.head()

,model_id,filepath,decoded,expert_annotations,turker_annotations,references
0,M11,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson was brought on with only seven min...,"[{'coherence': 2, 'consistency': 1, 'fluency':...","[{'coherence': 3, 'consistency': 3, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...
1,M13,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,"[{'coherence': 3, 'consistency': 5, 'fluency':...","[{'coherence': 2, 'consistency': 3, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...
2,M1,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,"[{'coherence': 2, 'consistency': 5, 'fluency':...","[{'coherence': 4, 'consistency': 5, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...
3,M14,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,"[{'coherence': 2, 'consistency': 5, 'fluency':...","[{'coherence': 5, 'consistency': 5, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...
4,M15,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,"[{'coherence': 4, 'consistency': 5, 'fluency':...","[{'coherence': 2, 'consistency': 4, 'fluency':...",[Andros Townsend an 83rd minute sub in Tottenh...

In [6]:
expert_annotations = df["expert_annotations"]
turker_annotations = df["turker_annotations"]

In [7]:
# for each row in the expert_annotations column, get the array of annotations and extract coherence score
expert_coherence_scores = expert_annotations.apply(lambda x: [annotation["coherence"] for annotation in x])

# for each row in the turker_annotations column, get the array of annotations and extract coherence score
turker_coherence_scores = turker_annotations.apply(lambda x: [annotation["coherence"] for annotation in x])

# get the average coherence score for each row
expert_coherence_scores = expert_coherence_scores.apply(lambda x: sum(x) / len(x))
turker_coherence_scores = turker_coherence_scores.apply(lambda x: sum(x) / len(x))

# add the average coherence scores to the dataframe
df["expert_coherence_score"] = expert_coherence_scores
df["turker_coherence_score"] = turker_coherence_scores

In [8]:
# for each row in the expert_annotations column, get the array of annotations and extract relevance score
expert_relevance_scores = expert_annotations.apply(lambda x: [annotation["relevance"] for annotation in x])

# for each row in the turker_annotations column, get the array of annotations and extract relevance score
turker_relevance_scores = turker_annotations.apply(lambda x: [annotation["relevance"] for annotation in x])

# get the average relevance score for each row
expert_relevance_scores = expert_relevance_scores.apply(lambda x: sum(x) / len(x))
turker_relevance_scores = turker_relevance_scores.apply(lambda x: sum(x) / len(x))

# add the average relevance scores to the dataframe
df["expert_relevance_score"] = expert_relevance_scores
df["turker_relevance_score"] = turker_relevance_scores

In [9]:
# for each row in the expert_annotations column, get the array of annotations and extract consistency score
expert_consistency_scores = expert_annotations.apply(lambda x: [annotation["consistency"] for annotation in x])

# for each row in the turker_annotations column, get the array of annotations and extract consistency score
turker_consistency_scores = turker_annotations.apply(lambda x: [annotation["consistency"] for annotation in x])

# get the average consistency score for each row
expert_consistency_scores = expert_consistency_scores.apply(lambda x: sum(x) / len(x))
turker_consistency_scores = turker_consistency_scores.apply(lambda x: sum(x) / len(x))

# add the average consistency scores to the dataframe
df["expert_consistency_score"] = expert_consistency_scores
df["turker_consistency_score"] = turker_consistency_scores

In [10]:
# for each row in the expert_annotations column, get the array of annotations and extract fluency score
expert_fluency_scores = expert_annotations.apply(lambda x: [annotation["fluency"] for annotation in x])

# for each row in the turker_annotations column, get the array of annotations and extract fluency score
turker_fluency_scores = turker_annotations.apply(lambda x: [annotation["fluency"] for annotation in x])

# get the average fluency score for each row
expert_fluency_scores = expert_fluency_scores.apply(lambda x: sum(x) / len(x))
turker_fluency_scores = turker_fluency_scores.apply(lambda x: sum(x) / len(x))

# add the average fluency scores to the dataframe
df["expert_fluency_score"] = expert_fluency_scores
df["turker_fluency_score"] = turker_fluency_scores

In [12]:
df.drop(columns=["expert_annotations", "turker_annotations"], inplace=True)

df.head()

,model_id,filepath,decoded,references,expert_coherence_score,turker_coherence_score,expert_relevance_score,turker_relevance_score,expert_consistency_score,turker_consistency_score,expert_fluency_score,turker_fluency_score
0,M11,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson was brought on with only seven min...,[Andros Townsend an 83rd minute sub in Tottenh...,1.333333,3.0,1.666667,3.0,1.0,3.0,3.000000,4.0
1,M13,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,[Andros Townsend an 83rd minute sub in Tottenh...,2.333333,2.0,2.666667,3.0,5.0,3.0,5.000000,2.0
2,M1,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,[Andros Townsend an 83rd minute sub in Tottenh...,2.333333,3.8,2.666667,4.6,5.0,4.2,5.000000,3.8
3,M14,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,[Andros Townsend an 83rd minute sub in Tottenh...,1.666667,5.0,2.666667,4.0,5.0,5.0,5.000000,5.0
4,M15,cnndm/dailymail/stories/8764fb95bfad8ee8492748...,paul merson has restarted his row with andros ...,[Andros Townsend an 83rd minute sub in Tottenh...,3.333333,2.0,4.000000,4.0,5.0,4.0,3.333333,2.0

In [16]:
df.sort_values(by='model_id', inplace=True)
df.reset_index(drop=True, inplace=True)
df.head()

,model_id,filepath,decoded,references,expert_coherence_score,turker_coherence_score,expert_relevance_score,turker_relevance_score,expert_consistency_score,turker_consistency_score,expert_fluency_score,turker_fluency_score
0,M0,cnndm/dailymail/stories/36352fd1c61fd0c593ee7b...,a man has been arrested in connection with the...,[Vanessa Santillan was found dead at a flat in...,5.000000,4.0,4.666667,4.0,5.0,3.0,5.000000,4.0
1,M0,cnndm/dailymail/stories/1749a22e2b6facaa057213...,jamie carragher believes brendan rodgers is st...,[Jamie Carragher believes Brendan Rodgers is t...,2.333333,4.0,4.000000,4.0,5.0,4.0,4.666667,5.0
2,M0,cnndm/dailymail/stories/6c1341bedf92a304318545...,harry kane 's celebrations this season have al...,[Harry Kane has been in superb form for Totten...,4.333333,4.0,5.000000,4.0,5.0,4.0,5.000000,4.0
3,M0,cnndm/dailymail/stories/0783c68a744df6afa009d1...,usain bolt will compete at the iaaf/btc world ...,[Usain Bolt will compete at the IAAF/BTC World...,3.000000,3.6,4.000000,3.8,5.0,4.0,4.333333,3.8
4,M0,cnndm/cnn/stories/c05bda9b387ec8ae43803170b6f5...,-lrb- cnn -rrb- isis on wednesday released mor...,[Most of those released were women and childre...,4.666667,3.4,4.333333,4.0,5.0,3.8,5.000000,3.6

In [17]:
numeric_df = df.drop(columns=["filepath", "decoded", "references"])
numeric_df.head()

,model_id,expert_coherence_score,turker_coherence_score,expert_relevance_score,turker_relevance_score,expert_consistency_score,turker_consistency_score,expert_fluency_score,turker_fluency_score
0,M0,5.000000,4.0,4.666667,4.0,5.0,3.0,5.000000,4.0
1,M0,2.333333,4.0,4.000000,4.0,5.0,4.0,4.666667,5.0
2,M0,4.333333,4.0,5.000000,4.0,5.0,4.0,5.000000,4.0
3,M0,3.000000,3.6,4.000000,3.8,5.0,4.0,4.333333,3.8
4,M0,4.666667,3.4,4.333333,4.0,5.0,3.8,5.000000,3.6

In [18]:
average_scores = numeric_df.groupby("model_id").mean()
average_scores

,expert_coherence_score,turker_coherence_score,expert_relevance_score,turker_relevance_score,expert_consistency_score,turker_consistency_score,expert_fluency_score,turker_fluency_score
model_id,,,,,,,,
M0,4.156667,3.842,4.136667,4.056,4.983333,3.734,4.936667,3.764
M1,3.220000,3.918,3.816667,4.098,4.980000,3.888,4.896667,3.774
M10,2.726667,3.898,3.376667,3.958,4.253333,3.932,4.423333,3.816
M11,2.280000,3.730,3.146667,3.948,3.270000,3.838,3.650000,3.596
M12,3.596667,3.762,3.846667,3.926,4.960000,3.838,4.846667,3.716
M13,3.443333,3.766,3.833333,3.872,4.820000,3.732,4.856667,3.578
M14,3.196667,3.926,3.633333,4.078,4.896667,3.834,4.743333,3.790
M15,3.346667,3.780,3.673333,3.950,4.936667,3.762,4.803333,3.734
M17,3.996667,3.760,4.230000,3.950,4.926667,3.862,4.933333,3.778
M2,3.276667,3.804,3.810000,3.912,4.990000,3.860,4.830000,3.662
M20,3.633333,3.796,3.296667,3.864,3.396667,3.794,3.970000,3.762
M22,4.180000,3.824,4.250000,3.864,4.943333,3.888,4.896667,3.758
M23,4.163333,3.772,4.260000,3.850,4.910000,3.756,4.880000,3.718
M5,3.710000,3.802,4.056667,4.024,4.973333,3.886,4.806667,3.740
M8,3.290000,3.832,3.546667,3.952,4.653333,3.894,4.793333,3.732
M9,2.383333,3.770,3.520000,3.952,4.673333,3.656,4.500000,3.532

In [24]:
powerful_model = 'M22'
poor_model = 'M11'
average_model = 'M8'

In [25]:
powerful_df = df[df["model_id"] == powerful_model]
poor_df = df[df["model_id"] == poor_model]  
average_df = df[df["model_id"] == average_model]

powerful_df.head()

,model_id,filepath,decoded,references,expert_coherence_score,turker_coherence_score,expert_relevance_score,turker_relevance_score,expert_consistency_score,turker_consistency_score,expert_fluency_score,turker_fluency_score
1100,M22,cnndm/dailymail/stories/b5925c1a02fa9a8f6b1d5a...,A video of a crocodile swimming through a publ...,[A local bike shop owner's dog was snatched by...,5.000000,4.0,4.333333,4.0,5.0,4.0,5.0,3.8
1101,M22,cnndm/dailymail/stories/207df192edc1836250b69d...,Finnish researchers compared weight and height...,[Researchers claimed antibiotics could be con...,4.000000,4.0,5.000000,4.2,5.0,4.4,5.0,4.2
1102,M22,cnndm/dailymail/stories/6372eff07fd3d6f578f90d...,"Dr Adrian Quarterman , of Dundee University , ...",[Dr Adrian Quarterman has suggested mirrored s...,3.666667,3.6,4.333333,3.8,5.0,3.8,5.0,3.4
1103,M22,cnndm/dailymail/stories/9b5a04b9879fe716a2dcd6...,Federal MP Bob Katter released a bizarre state...,[Mr Gordon was forced to quit Labor after bein...,5.000000,3.4,5.000000,3.4,5.0,3.8,5.0,4.0
1104,M22,cnndm/dailymail/stories/31114653cd606fd3f4b103...,Wales ' crunch Euro 2016 qualifier with Belgiu...,[Wales' Euro 2016 qualifier with Belgium has b...,4.333333,3.4,4.333333,3.4,5.0,3.6,5.0,3.0

In [26]:
powerful_df.to_csv(os.path.join(dir_path, "powerful_model.csv"))
poor_df.to_csv(os.path.join(dir_path, "poor_model.csv"))
average_df.to_csv(os.path.join(dir_path, "average_model.csv"))

In [21]:
average_scores.to_csv(os.path.join(dir_path, "average_scores.csv"))

In [22]:
df.to_csv(os.path.join(dir_path, "annotation_scores.csv"))